@use "./../../styles/variable" as *;

.services__section {
  background-color: #fef5f5;
  padding: 100px 0;

  .small__title {
    text-align: center;
    color: #f54748;
    margin-bottom: 8px;
  }

  .title {
    text-transform: capitalize;
    text-align: center;
    max-width: 627px;
    margin-left: auto;
    margin-right: auto;
    color: #2e2e2e;
    margin-bottom: 80px;

    @media ($phone_max) {
      margin-bottom: 30px;
      font-size: 30px;
    }
  }

  .service__cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
  }
}
